:root {
    --colors-ui-base: #219ebc;
    --colors-ui-secondary: #f5f6fb;
    --colors-text: #18232E;
    --colors-secondary-text: #979DA5;
    
    --colors-ui-primary: #23bec6;
    --colors-ui-secondary: #ff7d7d;
    --colors-ui-background: #1a1a1a;
    --colors-ui-background-secondary: #212121;
    --colors-ui-accent: #cccccc; 
    
    --colors-ui-text: #f2f2f2;

    --colors-ui-deactive: #6d6d6d;
    
    --menu-height: 44px;
}