.base-layout {
    height: max-content;
    min-height: 100%;
    width: 100%;
    background-color: var(--colors-ui-background);

    &__content {
        padding-top: 32px;
        height: 100%;
        padding-bottom: var(--menu-height);
    }
}