.button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 12px;
    
    font-weight: bold;
    font-size: 14px;
    color: var(--colors-ui-text);
    background-color: var(--colors-ui-primary);
    border-radius: 7px;

    &:active {
        background-color:  var(--colors-ui-base);
    }

    &_sz {
        &_small {
            width: max-content;
        }
    }

}