.tape-card {
    width: 100%;
    margin-bottom: 10px;

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 1rem 0.5rem 1rem;
    }

    &__username {
        display: flex;
        flex-direction: column;
        gap: 6px;
    }

    &__user-info {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    &__role {
        font-size: 10px;
    }

    &__control {
        display: flex;
        align-items: center;
        justify-content: space-between;
        
        padding: 0.5rem 1rem 0 1rem;
    }

    &__actions {
        display: flex;
        align-items: center;
        gap: 1rem;
    }
}