.tape-card {
    width: 100%;

    &__header {
        display: flex;
        align-items: center;
        gap: 0.5em;
    }

    &__bottom {
        display: flex;
        justify-content: space-between;
        padding: 0 1rem;
    }
}