.menu {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    border-top: 1px solid black;
    background-color: var(--colors-ui-background-secondary);

    &__list {
        display: flex;
        justify-content: space-between;
        height: var(--menu-height);
    }

    &__item {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;
    }
}