.user-info {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    &__fullname {
        color: var(--colors-ui-text);   
        font-size: 16px;
    }

    &__description {
        color: var(--colors-ui-deactive);
        font-size: 12px;
    }
    
}