.content-layout {
    width: 100%;
    height: 100%;

    &__header, &__bottom {
        z-index: 1;
        position: absolute;
        left: 16px;
    }

    &__header {
        top: 16px;
    }

    &__bottom {
        display: flex;
        justify-content: center;
        align-items: center;
        width: calc(100% - 32px);
        bottom: 16px;
    }

}