
.achievements-card {
    position: relative;
    gap: 1rem;
    background-color: var(--colors-ui-primary);
    
    width: 120px;
    height: 120px;
    
    border-radius: 12px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .2);

    &__image {
        width: 60px;
        height: 60px;

        position: absolute;
        bottom: 0;
        right: 0;
    }

    &__title {
        display: flex;
        text-align: left;
        padding: 6px 12px;
        font-size: 14px;
        font-weight: bold;
        text-align: center;
    }
}