.base-layout {
    height: max-content;
    min-height: 100%;
    width: 100%;
    background-color: var(--colors-ui-background);

    &__content {
        margin-top: 7px;
        z-index: 2;
        height: 100%;
        padding-bottom: var(--menu-height);
    }
}